.access-denied {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

button.btn-goto-login {
    background: none;
    outline: none;
    border: none;
    color: blue;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}

.hr {
    height: 1px;
    background: gray;
    width: 60%;
}

.message {
    margin-top: 1rem;
}
