<!-- <div class="container">
  <div class="emergency-banner">
    In case of emergencies, please dial your local emergency services number
  </div>

  <div class="flex justify-center">
    <div class="card">
      <div class="flex justify-left">
        <h3>Create Account</h3>
      </div>

      <div class="police-form">
        <form [formGroup]="policeForm" (ngSubmit)="onSubmit()">
          <div class="form-grid">
            <div class="form-item">
              <label for="rank">Rank</label>
              <select formControlName="rank_id" class="rank-select" placeholder="Rank">
                <option value="" disabled selected>Select Rank</option>
                <option *ngFor="let rank of ranks" [value]="rank.rank_id">
                  {{ rank.rank_full }}
                </option>
              </select>
            </div>
            <div class="form-item">
              <label for="officer">Officer</label>
              <div class="location-group">
                <select formControlName="location_id" class="location-select">
                  <option disabled>Officer</option>
                  <option *ngFor="let person of persons" [value]="person.person_id">{{ person.firstname}} {{person.lastname}}</option>
                </select>
                <button
                  type="button"
                  class="add-location-button"
                  routerLink="/add-person"
                >
                  +
                </button>
              </div>
            </div>


            <div class="form-item">
              <label for="role">Role</label>
              <select formControlName="role" class="role-select" placeholder="Role">
                <option value="" disabled selected>Select Role</option>
                <option value="Chief">Chief</option>
                <option value="Police">Police</option>
              </select>
            </div>
            <div class="form-item">
              <label for="unit">Unit</label>
              <input type="text" name="unit" placeholder="Unit" required>
            </div>
            <div class="form-item">
              <label for="badge-number">Badge Number</label>
              <input type="text" name="badge-number" placeholder="Badge Number" required>
            </div>
            <div class="form-item">
              <label for="debut-date">Debut Date</label>
                <input type="date" name="debutDate" placeholder="Debut Date" required>
            </div>
            <div class="form-item">
              <label for="station-id">Station</label>
              <select name="station-id" required>
                <option value="" disabled selected>Select Station</option>
                <option *ngFor="let station of stations" [value]="station.station_id">
                  {{ station.hq }}
                </option>
              </select>
            </div>
            <div class="form-item">
              <label for="created-by">Created By</label>
              <input type="text" name="created-by" placeholder="Created By" required>
            </div>
          </div>
          <div class="actions">
            <button class="cancel"  routerLink="/manage-station">
              Cancel
            </button>
            <button class="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="emergency-banner">
    In case of emergencies, please dial your local emergency services number
  </div>

  <div class="flex justify-center">
    <div class="card">
      <div class="flex justify-left">
        <h3>Create Account</h3>
      </div>

      <div class="police-form">
        <form [formGroup]="policeForm" (ngSubmit)="onSubmit()">
          <div class="form-grid">
            <div class="form-item">
              <label for="rank">Rank</label>
              <select formControlName="rank_id" class="rank-select" placeholder="Rank">
                <option value="" disabled selected>Select Rank</option>
                <option *ngFor="let rank of ranks" [value]="rank.rank_id">
                  {{ rank.rank_full }}
                </option>
              </select>
            </div>

            <div class="form-item">
              <label for="officer">Officer</label>
              <div class="location-group">
                <select formControlName="personID" class="officer-select">
                  <option value="" disabled selected>Select Officer</option>
                  <option *ngFor="let person of persons" [value]="person.person_id">{{ person.firstname}} {{person.lastname}}</option>
                </select>
                <button
                  type="button"
                  class="add-location-button"
                  routerLink="/add-person"
                >
                  +
                </button>
              </div>
            </div>

            <div class="form-item">
              <label for="role">Role</label>
              <select formControlName="role" class="role-select" placeholder="Role">
                <option value="" disabled selected>Select Role</option>
                <option value="Chief">Chief</option>
                <option value="Police">Police</option>
              </select>
            </div>

            <div class="form-item">
              <label for="unit">Unit</label>
              <input type="text" formControlName="unit" placeholder="Unit" required>
            </div>

            <div class="form-item">
              <label for="badge-number">Badge Number</label>
              <input type="text" formControlName="badgeNumber" placeholder="Badge Number" required>
            </div>

            <div class="form-item">
              <label for="debut-date">Debut Date</label>
              <input type="date" formControlName="debutDate" placeholder="Debut Date" required>
            </div>

            <div class="form-item">
              <label for="station-id">Station</label>
              <select formControlName="stationId" required>
                <option value="" disabled selected>Select Station</option>
                <option *ngFor="let station of stations" [value]="station.station_id">
                  {{ station.hq }}
                </option>
              </select>
            </div>

            <div class="form-item">
              <label for="created-by">Created By</label>
              <input type="text" formControlName="createdBy" placeholder="Created By" required>
            </div>
          </div>

          <div class="actions">
            <button class="cancel" type="button" routerLink="/manage-station">
              Cancel
            </button>
            <button class="submit" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
