.emergency-banner {
    background-color: #1e40af;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: -1rem;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container styling */
.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

/* Header styling */
.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    margin-bottom: 5px;
}

.form-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

/* Form layout */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row .form-group {
    width: 48%; /* Adjusted to ensure two fields fit nicely in a row */
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 0.85rem;
    color: #333;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Button container */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Button styles */
.register-button, .back-button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1rem;
}

.register-button {
    background-color: #b91c1c;
}

.back-button {
    background-color: #1e40af;
    text-decoration: none;
}

.register-button:hover {
    background-color: #a31b1b;
}

.back-button:hover {
    background-color: #1a378c;
}

/* Profile Photo Styling */
.form-group input[type="file"] {
    padding: 5px;
    font-size: 0.85rem;
}
