<div class="container">
    <div class="emergency-banner">
        In case of emergencies, please dial your local emergency services number
    </div>
    <div class="form-container">
        <div class="form-header">
            <img src="assets/1.png" alt="Logo" class="logo">
            <h2>Register your Station</h2>
        </div>
        <form [formGroup]="stationForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <input type="text" formControlName="hq" placeholder="Station Name (HQ)">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="officerInChargeId" placeholder="Officer In-Charge">
                </div>
            </div>
            <div class="form-grid">
                <div class="form-group">
                    <!-- <input type="text" formControlName="rank" placeholder="Rank"> -->
                    <select formControlName="rank_id" class="rank-select" placeholder="Rank">
                        <option value="" disabled selected>Rank</option>
                        <option *ngFor="let rank of ranks" [value]="rank.rank_id">{{ rank.rank_abbr}} - {{rank.rank_full}}</option>
                    </select>
                </div>
                <div></div>
                <div class="location-group">
                    <select formControlName="location_id" class="location-select">
                        <option disabled>Location</option>
                        <option *ngFor="let location of locations" [value]="location.location_id">{{ location.barangay}} {{location.municipality}}</option>
                    </select>
                    <button type="button" class="add-location-button"  routerLink="/station-add-location">+</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" placeholder="Password">
                </div>
            </div>
            <!-- <div class="form-row location-row">
              
            </div> -->
            <div class="button-container">
                <button type="button" class="back-button" (click)="goBack()"  routerLink="/manage-station">GO BACK</button>
                <button type="submit" class="register-button">REGISTER</button>
            </div>
        </form>
    </div>
</div>


