<div class="container">
    <div class="emergency-banner">
      In case of emergencies, please dial your local emergency services number
    </div>
    <div class="card">
      <div class="card-section logo-section">
        <img src="assets/ccpo.png">  
        <h2 class="title">CEBU CITY POLICE OFFICE</h2>
        <p class="description small-text">
          The Cebu City Police Office (CCPO) is a division of the Philippine National Police (PNP) which has jurisdiction over Cebu City and is under Police Regional Office VII (Central Visayas). It is headquartered in Camp Sotero Cabahug.
        </p>
      </div>
      <div class="card-section form-section">
        <h2 class="form-title">WELCOME TO <span class="highlight">PHILSAFE</span></h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="form-group">
            <label for="username">Username/Email:</label>
            <input type="text" id="username" class="form-input" formControlName="username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-input" formControlName="password">
          </div>
          <div *ngIf="errorMessage" class="error">
            <span class="error-icon">⚠️</span>
            <span class="error-text">Error:</span> {{ errorMessage }}
          </div>
          <div class="forgot-password">
            <a href="#">Forgot Password</a>
          </div>
          <button type="submit" class="login-button" [routerLink]="['/station-dashboard']">LOG IN</button>
        </form>
        <div class="create-account">
          New to <span class="highlight">PHILSAFE</span>? <a href="#" class="create-account-link" [routerLink]="['/station-register']" >Create Account</a>
        </div>
      </div>
    </div>
  </div>